@charset "utf-8";

/******************** fonts ********************/

.serverResponseLabelError {
	color: red;
}	


/******************** Application Elements ********************/
.gwt-DialogBox {
	width: 400.0px;
}

.gwt-PopupPanelGlass {
   background-color: #000;
   opacity: 0.3;
}

.loadingpopup{
	border: none;
}

.closedatabasebutton{
	background: white;
	border: none;
	text-shadow: none;
}

.logoutbutton{
	background: white;
	border: none;
	text-shadow: none;
}

.commandpanel {
	background: black;
	border: none;
	font: 18px;
	font-family: "ms sans serif", arial, sans-serif;
	color: #00FF00;
	resize: none;
	margin: 0.0px 10.0px 0.0px 0.0px;
}

.menubar {
	background: #F1F1F1;
	border: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	margin: 0.0px 10.0px 0.0px 0.0px;
}

.sidebar {
	background: #F1F1F1;
	border: none;
	margin: 0.0px 0.0px 10.0px 10.0px;
}

.statusbar {
	background: #F1F1F1;
	border: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	margin: 0.0px 10.0px 10.0px 0.0px;
}

.rawdataoutput {
	background: white;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-bottom: none;
	border-left: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
	padding: 20.0px 20.0px 20.0px 20.0px;
}

.textoutput {
	background: white;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right: none;
	border-bottom: none;
	border-left: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
	padding: 20.0px 20.0px 20.0px 20.0px;
}

.graphicalcontentpanel {
	background: white;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-bottom: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}

.mapcontentpanel {
	background: white;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-bottom: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}

.toolbar {
	background: white;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-bottom: none;
	border-left: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
	padding: 10.0px 10.0px 10.0px 10.0px;
	margin: 0.0px 10.0px 0.0px 0.0px;
}


/***********************************************************
*   transparent MenuBar for Navigation and a NavigationPanel
***********************************************************/
/*.navigation {
	background-color: transparent;
	border-bottom: transparent;
	border-top: transparent;
	text-align: left;
	border: none;
}

	
.navigationpanel {
	background: white;
	text-align: right;
	padding: 15px;
	vertical-align: middle;
	border: none;
}*/

/******************** D3 Elements ********************/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/******************** Maps Elements ********************/

.mapdata {
	background: white;
	border: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
}