*.o
*.a
*.dep
*.fm
*.class
*.aux
*.log
*.DS_Store

makefile.algebras

.project
.cproject
.settings
.vscode
.idea

# Bin
bin/*.lua

# Algebras
/Algebras/specs
/Algebras/specs.test
/Algebras/DateTime/dateconvertparser.c
/Algebras/DateTime/dateconvertparser.h
/Algebras/DateTime/dateconvertscan.c
/Algebras/Distributed4/compile_commands.json
/Algebras/Distributed4/util/mutexset
/Algebras/FText/RegExParser.y.c
/Algebras/FText/RegExParser.y.h
/Algebras/FText/RegExScanner.c
/Algebras/MTree/mtree_docu
/Algebras/PropertyGraph/CypherParser.cpp
/Algebras/PropertyGraph/CypherParser.h
/Algebras/PropertyGraph/CypherScanner.cpp
/Algebras/PropertyGraph/CypherScanner.h
/Algebras/PropertyGraph/location.hh
/Algebras/PropertyGraph/position.hh
/Algebras/PropertyGraph/stack.hh
/Algebras/TopRel/TreeLex.c
/Algebras/TopRel/TreeParser.y.c
/Algebras/TopRel/TreeParser.y.h
/Algebras/XTree/xtree_docu
/Algebras/SymbolicTrajectory/PatternParser.output
/Algebras/SymbolicTrajectory/PatternParser.tab.c
/Algebras/SymbolicTrajectory/PatternParser.tab.h
/Algebras/SymbolicTrajectory/PatternRegExParser.y.c
/Algebras/SymbolicTrajectory/PatternRegExParser.y.h
/Algebras/SymbolicTrajectory/PatternRegExScanner.c
/Algebras/SymbolicTrajectory/lex.pattern.c
/Algebras/RegionInterpolation2/librip/build/
/Algebras/RegionInterpolation2/librip/example/rip
/Algebras/RegionInterpolation2/librip/lib/librip.so
/Algebras/FixedMRegion/fmr/libfmr.so
/Algebras/PropertyGraph2/CypherParser.cpp
/Algebras/PropertyGraph2/CypherParser.h
/Algebras/PropertyGraph2/CypherScanner.cpp
/Algebras/PropertyGraph2/CypherScanner.h
/Algebras/PropertyGraph2/location.hh
/Algebras/PropertyGraph2/position.hh
/Algebras/PropertyGraph2/stack.hh

# Javagui
/Javagui/GBS.cfg
/Javagui/gui.cfg
/Javagui/.gui_history
/Javagui/.gui_queries
/Javagui/secondoInterface/SecondoInterface.jar
/Javagui/secondoInterface/lib/java_cup_v10k.jar
/Javagui/secondoInterface/sj/lang/JavaListExpr/NLJLex.l.java
/Javagui/secondoInterface/sj/lang/JavaListExpr/NLParser.java
/Javagui/secondoInterface/sj/lang/JavaListExpr/NLSymbol.java
/Javagui/secondoInterface/sj/lang/ListExpr.java
/Javagui/viewer/makefile.viewers

# Optimizer
/OptParser/parser.c
/OptParser/parser.h
/OptParser/scanner.c
/Optimizer/libregSecondo.so
/Optimizer/libregSecondo.jnilib
/Optimizer/opsyntaxg.pl
/Optimizer/tmp/
/OptimizerBasic/libregSecondo.so
/OptimizerBasic/libregSecondo.jnilib


/bin/*.jpg
/bin/*.dbf
/bin/*.bin
/bin/*.sql
/bin/*.ini
/bin/*.cfg
/bin/strassen_GeoData_rtree_rebuild
/bin/ten,bin
/bin/*.shx
/bin/*.idx
/bin/*.wav
/bin/*.msg
/bin/.secondo_history
/bin/plzOrteRebuild
/bin/berlintest_copy3
/bin/writeFileTest
/bin/opt2
/bin/plzOrte
/bin/tmp
/bin/temp_nested_list
/bin/SecondoBDB
/bin/SecondoCS
/bin/SecondoCheckpoint
/bin/*.trc
/bin/SecondoListener
/bin/SecondoMonitor
/bin/SecondoREPLAY
/bin/SecondoRegistrar
/bin/proglogt.csv
/bin/tmp_statistics.csv
/bin/.iqe_secondo_history
/bin/.iqe_secondo_out
/bin/All.shp
/bin/All.db3
/bin/kinos.shp
/bin/secname.txt
/bin/plz.bincsv
/bin/NativeFlobFile
/bin/cachedFileIDTable
/bin/*.ddsg

# API
/apis/api_cpp/cs/example/
/apis/api_cpp/cs/include/
/apis/api_cpp/direct/example/
/apis/api_cpp/direct/include/

# Documentation
/Documents/.Secondo-News.txt

# Tests
/Tests/base64encoder
/Tests/bdb-perf
/Tests/bdbtest
/Tests/itlogmsg
/Tests/libtdynlib1.dylib
/Tests/libtdynlib2.dylib
/Tests/nlchecker
/Tests/tctable
/Tests/tdlmain
/Tests/tdynlib1.lo
/Tests/tdynlib2.lo
/Tests/tfilesystem
/Tests/tnestedlist
/Tests/tpctable
/Tests/tprofiles
/Tests/tsmi
/Tests/tsmi3
/Tests/tsock1
/Tests/tsock2
/Tests/tsock3
/Tests/empty_text.bnl
/Tests/simplelist.txt
/Tests/simplelist.txt.bnl
/Tests/simplelist.txt.bnl.bnl
/Tests/simplelist.txt.text
/Tests/testout-opt.bnl
/Tests/testout-opt.nl
/Tests/testout-simpleList.nl.bnl
/Tests/testout-simpleList.nl.nl
/Tests/testout_FirstExpr5
/Tests/testout_RestExpr5
/Tests/testout_SmallListFile
/Tests/libtdynlib1.so
/Tests/libtdynlib2.so
/Tests/testRawBDB

# Tools
/Tools/pd/PDLex.c
/Tools/pd/docu
/Tools/pd/docuhtml
/Tools/pd/enumerate
/Tools/pd/filterpd
/Tools/pd/linebreaks
/Tools/pd/linecheck
/Tools/pd/makeascii
/Tools/pd/makehtml
/Tools/pd/maketex
/Tools/pd/pdtabs
/Tools/pd/tabcheck
/Tools/pd/y.tab.c
/Tools/NestedLists/NLLex.cpp
/Tools/NestedLists/NLParser.output
/Tools/NestedLists/NLParser.tab.cpp
/Tools/NestedLists/NLParser.tab.hpp
/Tools/Parser/SecLex.cpp
/Tools/Parser/SecLex.l
/Tools/Parser/SecParser.output
/Tools/Parser/SecParser.tab.cpp
/Tools/Parser/SecParser.tab.hpp
/Tools/Parser/SecParser.y
/Tools/Parser/lexrules
/Tools/Parser/tokens
/Tools/Parser/yaccrules1
/Tools/Parser/yaccrules2
/Tools/Parser/SpecParser/Parser
/Tools/Parser/SpecParser/Parser2
/Tools/Parser/SpecParser/arch_i386/Parser
/Tools/Parser/SpecParser/arch_i386/Parser2
/Tools/Parser/SpecParser/arch_i386/NestedText.cpp
/Tools/Parser/SpecParser/arch_i386/SpecParser.tab.cpp
/Tools/Parser/SpecParser/arch_i386/SpecParser.tab.hpp
/Tools/Parser/SpecParser/arch_i386/lex.yy.cpp
/Tools/Parser/SpecParser/arch_i386/lex2.yy.cpp
/Tools/Parser/SpecParser/SpecParser.tab.cpp
/Tools/Parser/SpecParser/SpecParser.tab.hpp
/Tools/Parser/SpecParser/lex.yy.cpp
/Tools/Parser/SpecParser/lex2.yy.cpp
/Tools/pd/PDLex.c
/Tools/pd/docu
/Tools/pd/docuhtml
/Tools/pd/enumerate
/Tools/pd/filterpd
/Tools/pd/linebreaks
/Tools/pd/linecheck
/Tools/pd/makeascii
/Tools/pd/makehtml
/Tools/pd/maketex
/Tools/pd/pdtabs
/Tools/pd/tabcheck
/Tools/pd/y.tab.c
/Tools/pd/PDParser.tab.c
/Tools/pd/PDParserASCII.tab.c
/Tools/pd/PDParserHTML.tab.c
/Tools/SyntaxParser/SyntaxParser
/Tools/SyntaxParser/SyntaxParser.output
/Tools/SyntaxParser/SyntaxParser.tab.c
/Tools/SyntaxParser/SyntaxParser.tab.h
/Tools/SyntaxParser/lex.yy.c
/Tools/SyntaxParser/opprios.pl
/Tools/SyntaxParser/opsyntax.pl
/Tools/TypeMap/OpSigParser.output
/Tools/TypeMap/OpSigParser.tab.c
/Tools/TypeMap/OpSigParser.tab.h
/Tools/TypeMap/lex.opsig.c
/Tools/TypeMap/OpSigParser/OpSigParser.output
/Tools/TypeMap/OpSigParser/OpSigParser.tab.c
/Tools/TypeMap/OpSigParser/OpSigParser.tab.h
/Tools/TypeMap/OpSigParser/lex.opsig.c
/Tools/TypeMap/OpSigParser/OpSig
/Tools/TypeMap/OpSpecParser/OpSpec
/Tools/TypeMap/OpSpecParser/OpSpecParser.output
/Tools/TypeMap/OpSpecParser/OpSpecParser.tab.c
/Tools/TypeMap/OpSpecParser/OpSpecParser.tab.h
/Tools/TypeMap/OpSpecParser/lex.opspec.c
/Tools/DFS/cli/cli
/Tools/DFS/datanode/datanode
/Tools/DFS/indexnode/indexnode
/Tools/DFS/qunitrunner/qunitrunner

# WebGUI2
/WebGui2/bin
/WebGui2/gwt-unitCache
/WebGui2/.gwt
/WebGui2/war/secondoweb

