################################
#
# Algebra Configuration File
#
################################

# Master switch to use all algebras
#SECONDO_ACTIVATE_ALL_ALGEBRAS := true
 
# never change this
ALGEBRA_DIRS := Standard-C++
ALGEBRAS     := StandardAlgebra
ALGEBRA_DEPS := 
ALGEBRA_DEP_DIRS := 

# comment out or add new algebras in this file. 
# You have to define an algebra name and a directory
# name which contains the algebras source code. 
# All uncommented algebras are compiled and linked. To define
# if an algebra is active or not edit the file AlgebraList.i
# But be careful, the configuration here and in the .i file have
# to be one to one otherwise the linker will get in trouble.
#
# Many functions in the algebra module are global definitions.
# It would be better to embrace the Algebra code in
# using namespace <AlgebraName> { ... Algebra Code ... }. If the
# linker complains about multiple definitions this can be a solution
# to correct it.
# 
# When you call "make alg=auto <target>" the .i file will be 
# created automatically and therefore it will be correct. If
# you dont like that edit AlgebraList.i manually.
#
# ALGEBRAS defines a list of names which are later prefixed by 
# -lname1 -lname2 ... etc. This is used to link the algebra objects
# into an executable. If the algebra code itself depends on other
# librares, e.g. the jpeg algebra depends on libjpeg, put these libraries
# and its directory into the variable ALGEBRA_DEPS and ALGEBRA_DEP_DIRS.

ALGEBRA_DEPS += jpeg
ALGEBRA_DEP_DIRS += $(SECONDO_SDK)/lib

ALGEBRA_DIRS += Function-C++
ALGEBRAS     +=	FunctionAlgebra

ALGEBRA_DIRS += PointRectangle
ALGEBRAS     += PointRectangleAlgebra

ALGEBRA_DIRS +=	Array
ALGEBRAS     +=	ArrayAlgebra

ALGEBRA_DIRS += StreamExample
ALGEBRAS     +=	StreamExampleAlgebra

ALGEBRA_DIRS += OldRelation-C++
ALGEBRAS     +=	OldRelationAlgebra

ALGEBRA_DIRS += Relation-C++
ALGEBRAS     +=	RelationAlgebra

ALGEBRA_DIRS += ExtRelation-C++
ALGEBRAS     +=	ExtRelationAlgebra

ALGEBRA_DIRS +=	Date
ALGEBRAS     +=	DateAlgebra

ALGEBRA_DIRS += Polygon
ALGEBRAS     +=	PolygonAlgebra

ALGEBRA_DIRS +=	BTree
ALGEBRAS     +=	BTreeAlgebra

ALGEBRA_DIRS +=	RTree
ALGEBRAS     +=	RTreeAlgebra

ALGEBRA_DIRS +=	Rectangle
ALGEBRAS     +=	RectangleAlgebra

ALGEBRA_DIRS +=	Spatial
ALGEBRAS     +=	SpatialAlgebra

ALGEBRA_DIRS +=	FText
ALGEBRAS     +=	FTextAlgebra

ALGEBRA_DIRS +=	BinaryFile
ALGEBRAS     +=	BinaryFileAlgebra

ALGEBRA_DIRS +=	Temporal
ALGEBRAS     +=	TemporalAlgebra

ALGEBRA_DIRS +=	DateTime
ALGEBRAS     +=	DateTimeAlgebra

ALGEBRA_DIRS +=	Network
ALGEBRAS     +=	NetworkAlgebra

ALGEBRA_DIRS += PlugJoin	
ALGEBRAS     +=	PlugJoinAlgebra

ALGEBRA_DIRS += TupleIdentifier	
ALGEBRAS     +=	TupleIdentifierAlgebra

ALGEBRA_DIRS += UpdateRel	
ALGEBRAS     +=	UpdateRelationAlgebra

ALGEBRA_DIRS += PointSequence	
ALGEBRAS     +=	PointSequenceAlgebra

#ALGEBRA_DIRS += MP3
#ALGEBRAS     += MP3Algebra

ALGEBRA_DIRS += Picture 
ALGEBRAS     += PictureAlgebra

#ALGEBRA_DIRS  += Midi
#ALGEBRAS      += MidiAlgebra

# JNI Algebras - Java code will be called from C++ code.

#JNI_ALGEBRA_DIRS := Fuzzy
#JNIALGEBRAS      := FuzzyAlgebra

#JNI_ALGEBRA_DIRS := JBBox
#JNIALGEBRAS      := JBBoxAlgebra

#JNI_ALGEBRA_DIRS += JNIExample
#JNIALGEBRAS      += JNIExampleAlgebra

#JNI_ALGEBRA_DIRS += Rose
#JNIALGEBRAS      += RoseAlgebra
