<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.ehnes.secondoandroid"
    android:versionCode="1"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true"
        android:largeHeap="true">
 
         <activity android:name="eu.ehnes.secondoandroid.activity.SplashScreenActivity" android:screenOrientation="portrait">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity><activity
            android:name="eu.ehnes.secondoandroid.activity.SecondoActivity"
            android:label="@string/app_name" >
        </activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.SettingsActivity" android:label="Settings" ></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.GuiActivity" android:label="Gui"></activity>
         <activity android:label="FileDialog" android:name="eu.ehnes.secondoandroid.activity.FileDialogActivity"></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.DatabaseOpenActivity" android:label="Open Database"></activity>
         <activity android:label="ListObjects" android:name="eu.ehnes.secondoandroid.activity.ListObjectsActivity"></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.DatabaseDeleteActivity" android:label="Delete"></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.ListObjectsResultActivity" android:label="ListObjects Result"></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.QueryDatabaseActivity" android:label="Query Database"></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.PreferencesActivity" android:label="Preferences" ></activity>
         <activity android:name="eu.ehnes.secondoandroid.activity.MemoryActivity" android:label="ehnes.secondoandroid.MemoryActivity"></activity>
         
    </application>

</manifest>