# Replace the following line with the path to your SECONDO build directory
export SECONDO_BUILD_DIR=

# Auto detect the SECONDO build environment
source $SECONDO_BUILD_DIR/CM-Scripts/secondo-detect.sh