{
   "hostname":"localhost",
   "httpPort":8081,
   "secondoDateFormat":"yyyy-MM-dd-HH:mm:ss",
   "jsonDateFormat":"yyyy-MM-dd'T'HH:mm:ss.SSS",
   "handlers":{
      "orte":{
         "nestedListPort":6789,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"opt",
         "secondoRelation":"Orte",
         "useipointconversion": false,
         "representationClass":"de.fernuni.dna.jwh.representation.Orte",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "staedte":{
         "nestedListPort":6790,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"opt",
         "secondoRelation":"Staedte",
         "useipointconversion": false,
         "representationClass":"de.fernuni.dna.jwh.representation.Staedte",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "trains":{
         "nestedListPort":6791,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"berlintest",
         "secondoRelation":"Trains",
         "useipointconversion": false,
         "representationClass":"de.fernuni.dna.jwh.representation.Trains",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "unittrains":{
         "nestedListPort":6792,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"berlintest",
         "secondoRelation":"UnitTrains",
         "useipointconversion": false,
         "representationClass":"de.fernuni.dna.jwh.representation.UnitTrains",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "position":{
         "nestedListPort":6793,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"android",
         "secondoRelation":"Position",
         "useipointconversion": false,
         "representationClass":"de.fernuni.dna.jwh.representation.Position",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "berlinmodplayeru":{
         "nestedListPort":6794,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"berlinmod",
         "secondoRelation":"Pointsu",
         "useipointconversion": true,
         "ipointconversionattribute" : "Moid",
         "representationClass":"de.fernuni.dna.jwh.representation.BerlinModPlayer",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "berlinmodplayeri":{
         "nestedListPort":6795,
         "secondoPort":1234,
         "secondoHost":"localhost",
         "secondoDatabase":"berlinmod",
         "secondoRelation":"Pointsi",
         "useipointconversion": false,
         "representationClass":"de.fernuni.dna.jwh.representation.BerlinModPlayer",
         "handlerClass":"de.fernuni.dna.jwh.handlers.GenericHandler"
      },
      "shutdown":{
         "handlerClass":"de.fernuni.dna.jwh.handlers.ShutdownHandler"
      }
   }
}