# Configuration file for the Hoese Viewer

#the path for sessions at start
SESSION_PATH /home/behr/SecondoObjects/hoese/sessions

#the path for categories at start
CATEGORY_PATH /home/behr/SecondoObjects/hoese/Categories

#the path for textures at start
TEXTURE_PATH /home/behr/SecondoObjects/Textures

#the path for references attribute values -> categorynames
REFERENCE_PATH = /home/behr/SecondoObjects/hoese/References

#the standard references to load at start
STD_REFERENCE = /home/behr/SecondoObjects/hoese/References/STD.ref

#Standard Categories loaded at start
#you can enter more then one CategorieFiles separated by space 
StandardCats= /home/behr/SecondoObjects/hoese/Categories/Osnabrueck.cat



#Icons
ImportIcon=res/Import.gif
CateditIcon=res/allcat.gif
ContextIcon=res/context.gif
ZoomoutIcon=res/zoomout.gif
ChgcatIcon=res/chgcat.gif
LabdlgIcon=res/Labdlg.gif
PlayIcon=res/play.gif
PlayDefIcon=res/PLAYDEF.gif
ReverseIcon=res/REVERSE.gif
ToendIcon=res/TOEND.gif
TostartIcon=res/TOFRONT.gif
StopIcon=res/stop.gif
#Working Directory for Objects,Databases in Files 
WorkingDir = ./user

#classes that calculate categories for attr. dependent rendering sep. by komma
CalcCats= OutLineWidth
#external viewer
txt= /usr/openwin/bin/xedit %f





