#This file is part of SECONDO.
#
#Copyright (C) 2004, University in Hagen, Department of Computer Science, 
#Database Systems for New Applications.
#
#SECONDO is free software; you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation; either version 2 of the License, or
#(at your option) any later version.
#
#SECONDO is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with SECONDO; if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

# Configuration file for the Hoese Viewer

# set the session path if you don't like use default
#SESSION_PATH /home/behr/SecondoObjects/hoese/sessions

#the path for categories at start
#CATEGORY_PATH /home/behr/SecondoObjects/hoese/Categories

#the path for textures at start
#TEXTURE_PATH /home/behr/SecondoObjects/Textures

#the path for references attribute values -> categorynames
#REFERENCE_PATH = /home/behr/SecondoObjects/hoese/References


#the standard references to load at start
STD_REFERENCE = Osnabrueck.ref

#Standard Categories loaded at start
#you can enter more then one CategorieFiles separated by space
StandardCats= Osnabrueck.cat


#Projections to load
PROJECTIONS Mercator Sinusoidal Miller_Cylindrical Cylindrical PolyConic Orthographic


#Icons
ImportIcon=res/Import.gif
CateditIcon=res/allcat.gif
ContextIcon=res/context.gif
ZoomoutIcon=res/zoomout.gif
ChgcatIcon=res/chgcat.gif
LabdlgIcon=res/Labdlg.gif
PlayIcon=res/play.gif
PlayDefIcon=res/PLAYDEF.gif
ReverseIcon=res/REVERSE.gif
ToendIcon=res/TOEND.gif
TostartIcon=res/TOFRONT.gif
StopIcon=res/stop.gif
SlowerIcon=res/slower.gif
FasterIcon=res/faster.gif
#Working Directory for Objects,Databases in Files 
WorkingDir = ./user

#classes that calculate categories for attr. dependent rendering sep. by komma
CalcCats= OutLineWidth
#external viewer
txt= /usr/openwin/bin/xedit %f





