# set the name of Secondo-Server
SERVERNAME localhost

# set the port address of Secondo-Server
SERVERPORT 1234

# set the viewers to load automatical at start
KNOWN_VIEWERS StandardViewer RelViewer HoeseViewer

# set to true if you want to connect to secondo-server at start
START_CONNECTION true

# specify the secondo directory
# default is the directory over Javagui
#SECONDO_HOME_DIR = /home/behr/secondo

# if DEBUG_MODE is set to true additional error
# messages are printed
# valid values are true and false
DEBUG_MODE false


# set directory for load/save objects 
# if you want to change the standard
#OBJECT_DIRECTORY /home/behr/SecondoObjects

# set directory for load/save histories 
# if you want to change the standard
#HISTORY_DIRECTORY /home/behr/histories


# you can execute a file at start
# this file contains a single command in a line
# a example is  a saved history
# STARTSCRIPT <file> [-i] 
# -i stand for ignore errors
#STARTSCRIPT = /home/behr/testHistory -i

# set font size for CommandPanel
COMMAND_FONTSIZE 14


# set font size for ObjectList
LIST_FONTSIZE 12

# set to true if you want to use binary nested lists in
# client server communication
# ensure to have the same setting in SecondoConfig.ini
USE_BINARY_LISTS false

# the maximal string length for string atoms in nested lists
# ensure to have the value used in SECONDO
MAX_STRING_LENGTH 48
