#This file is part of SECONDO.
#
#Copyright (C) 2004, University in Hagen, Department of Computer Science, 
#Database Systems for New Applications.
#
#SECONDO is free software; you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation; either version 2 of the License, or
#(at your option) any later version.
#
#SECONDO is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with SECONDO; if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

# set the name of Secondo-Server
SERVERNAME localhost

# set the port address of Secondo-Server
SERVERPORT 1234

# set the viewers to load automatical at start
KNOWN_VIEWERS StandardViewer RelViewer FormattedViewer HoeseViewer

# set to true if you want to connect to secondo-server at start
START_CONNECTION true

# specify the secondo directory
# default is the directory over Javagui
#SECONDO_HOME_DIR = /home/behr/secondo

# if DEBUG_MODE is set to true additional error
# messages are printed
# valid values are true and false
DEBUG_MODE false


# set directory for load/save objects 
# if you want to change the standard
#OBJECT_DIRECTORY /home/behr/SecondoObjects

# set directory for load/save histories 
# if you want to change the standard
#HISTORY_DIRECTORY /home/behr/histories


# you can execute a file at start
# this file contains a single command in a line
# a example is  a saved history
# STARTSCRIPT <file> [-i] 
# -i stand for ignore errors
#STARTSCRIPT = /home/behr/testHistory -i

# set font size for CommandPanel
COMMAND_FONTSIZE 14


# set font size for ObjectList
LIST_FONTSIZE 12

# set to true if you want to use binary nested lists in
# client server communication
# ensure to have the same setting in SecondoConfig.ini
USE_BINARY_LISTS false

# the maximal string length for string atoms in nested lists
# ensure to have the value used in SECONDO
MAX_STRING_LENGTH 48

#the host-name of an optimizer-server
OPTIMIZER_HOST localhost

#the port-number of an optimizer-server
OPTIMIZER_PORT 1235

#enable optimizer at start (true or false)
ENABLE_OPTIMIZER true

#enable persitent storing of text atoms
USE_PERSISTENT_TEXT true

#set the maximum size of a text atom managed in main memory
#only meaningful if USE_PERSISTENT_TEXT is enabled
MAX_INTERNAL_TEXT_LENGTH 1024

#set the node cache for nested lists if persistent nested lists are used
NL_CACHE 500000

#set to true if you want information about needed times
MEASURE_TIME false

#set to true for getting information about memory usage
MEASURE_MEMORY false
