#This file is part of SECONDO.
#
#Copyright (C) 2004, University in Hagen, Department of Computer Science, 
#Database Systems for New Applications.
#
#SECONDO is free software; you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation; either version 2 of the License, or
#(at your option) any later version.
#
#SECONDO is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with SECONDO; if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA


[General]

# set the name of Secondo-Server
# set to "localhost" 
#SERVERNAME: 127.0.0.1
SERVERNAME: localhost

# set the port address of Secondo-Server
SERVERPORT: 1234

# set the name of the user
USER: mahsa

#set the password for the user
PASSWD: 1234

#set the format of the result list binary/textual
#Server: BinaryTransfer


# specify the secondo directory
# default is the directory over Javagui
SECONDO_HOME_DIR: /home/mahsa/secondo

# if DEBUG_MODE is set to true additional error
# messages are printed out
# valid values are true and false
DEBUGMODE: true


# set to true if you want to use binary nested lists in
# client server communication
# ensure to have the same setting in SecondoConfig.ini
USEBINARYLISTS: BinaryTransfer 



# the maximal string length for string atoms in nested lists
# ensure to have the value used in SECONDO
MAXSTRINGLENGTH: 48

#the host-name of an optimizer-server
OPTIMIZERHOST: 127.0.0.1
#OPTIMIZERHOST: localhost

#the port-number of an optimizer-server
OPTIMIZERPORT: 1235

#enable optimizer at start (true or false)
ENABLEOPTIMIZER: true


# Specify the encoding 
ENCODING: ISO-8859-1

