@charset "utf-8";

/******************** fonts ********************/
.headline {
	font-size: 1.0em;
	font-weight: bold;
	color: #777777;
	margin: 10.0px 50.0px 0.0px 0.0px;
	text-align: left;
}

.serverResponseLabelError {
	color: red;
}	


/******************** Application Elements ********************/
.gwt-DialogBox {
	width: 400.0px;
}

.commandpanel {
	background: black;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	font: 18px;
	font-family: "ms sans serif", arial, sans-serif;
	color: #00FF00;
	resize: none;
}

.menubar {
	background: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	padding: 0.0px 0.0px 0.0px 0.0px;
}

.sidebar {
	background: #F1F1F1;
	border: none;
}

.statusbar {
	background: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	padding: 0.0px 20.0px 0.0px 20.0px;
}

.rawdataoutput {
	background: white;
	border-width: 0px;
	border-style: solid;
	border-color: #CCCCCC;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
	padding: 20.0px 20.0px 20.0px 20.0px;
}

.rawdatascrollpanel {
	background: white;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.textscrollpanel {
	background: white;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.formattedoutput {
	background: white;
	border: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
	padding: 20.0px 20.0px 20.0px 20.0px;
}

.graphicalscrollpanel {
	background: white;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	padding: 20.0px 20.0px 20.0px 20.0px;
}

.graphicaltextoutput {
	background: white;
	border: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
	padding: 20.0px 20.0px 20.0px 20.0px;
}

.mapcontentpanel {
	background: white;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.mapwidget{

}


/***********************************************************
*   transparent MenuBar for Navigation and a NavigationPanel
***********************************************************/
.navigation {
	background-color: transparent;
	border-bottom: transparent;
	border-top: transparent;
	text-align: left;
	border: none;
}

	
.navigationpanel {
	background: white;
	text-align: right;
	padding: 15px;
	vertical-align: middle;
	border: none;
}

/******************** D3 Elements ********************/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/******************** Maps Elements ********************/

#map {

}

.mapdata {
	background: white;
	border: none;
	font: 15px;
	font-family: "ms sans serif", arial, sans-serif;
	color: black;
	resize: none;
}